@import "../../../styles/common";

.mainGrid {
  @include tachyons(ph5-ns pv4);
}

.selectDesignCard {
  @include tachyons(pa1);
}

.selectDesignButtonContainer {
  @include tachyons(flex justify-around);
  background-color: $translucentPeach;
}
.selectDesignButton {
  @include tachyons("black");
}

.designImage {
  @include tachyons(w-100);
  height: auto;
}

.stepsComponent {
  @include tachyons(ph0-ns ph3);

  @include small {
    padding-left: 0;
    padding-right: 0;
  }
}

.layoutComponentStep1,
.layoutComponentStep2 {
  @include tachyons(ph0-ns ph3);
  @include not-small {
    display: flex;
    justify-content: space-around;
  }
}

.createInviteButtonDiv {
  @include tachyons(mt3 flex justify-center);
}
