@import "./common.scss";

// Use this file to override the style for this design

.inviteInfo {
  @include tachyons(absolute tc pa5);
  top: 35%;
  width: 100%;
  background-color: $translucentWhiteOverlay;
}

.title {
  font-family: "Stalemate", cursive;
  color: $black;
  font-size: rem(50);
  @include not-small {
    font-size: 4rem;
  }
}

.desc,
.date {
  font-family: "Raleway", sans-serif;
  font-size: rem(14);
  @include not-small {
    font-size: 1rem;
  }
}

.date {
  @include tachyons(f3);
}

.backgroundInviteDiv {
  background-image: url("../../assets/images/baby_feet.jpg");
  background-position: 50% 50%;
}

.inviteAuxilliaryInfo {
  background-color: $darkBrown;
  opacity: 0.65;
  color: white;
}
