@import "./common.scss";

.inviteMainDiv {
  @include tachyons(cover);
  // background-image: url("../../assets/images/minions.jpg");
}

.inviteInfo {
  @include tachyons(absolute tc pa5);
  top: 35%;
  width: 100%;
  background-color: $translucentWhiteOverlay;
}

.title {
  @include tachyons(f1);
  font-family: "Stalemate", cursive;
  color: $black;
  @include not-small {
    font-size: 4rem;
  }
}

.desc {
  @include tachyons(f3);
  font-family: "EB Garamond", serif;
  @include not-small {
    font-size: 2rem;
  }
}

.backgroundInviteDiv {
  background-image: url("../../assets/images/minions.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
