@import "../../../styles/common";

.inviteMainDiv {
  @include not-small {
    @include tachyons(flex justify-center);
  }
}

.invitePaper {
  @include tachyons(relative);
}

.inviteInfo {
  @include tachyons(absolute);
}

.inviteDesignPaper {
  width: calc(100vw);
  height: calc(100vw);

  @include not-small {
    width: calc(95vh - 98px);
    height: calc(95vh - 98px);
  }
}
