@import "../../../styles/common";

.formsDiv {
  @include tachyons(flex flex-column items-center justify-center);

  @include not-small {
    height: 60vh;
  }
}

.title {
  @include tachyons(tc mb4);
}

.card {
  width: 28%;

  @include small {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
