@import "~tachyons-sass/scss/variables";

$header: #a8d8d7;
$darkText: black;

// Template font colors
$darkOrange: #f15619;

$tachyons-breakpoint-m: 30em;
$tachyons-breakpoint-l: 60em;
$tachyons-breakpoint-xl: 90em;
