@import "~tachyons-sass/scss/variables";

$header: #a8d8d7;
$black: black;

// Template font colors
$darkOrange: #f15619;
$peach: #fedbba;
$translucentWhiteOverlay: rgba(254, 254, 253, 0.75);
$darkBrown: #2f2c29;
$pineGreen: #65bbadb5;

$tachyons-breakpoint-m: 30em;
$tachyons-breakpoint-l: 60em;
$tachyons-breakpoint-xl: 90em;

$topNavbarHeight: rem(71);
