@import "~tachyons-sass/scss/variables";

$header: #a8d8d7;
$black: black;
$peach: #fedbba;
$translucentPeach: #fedbba52;

$tachyons-breakpoint-m: 30em;
$tachyons-breakpoint-l: 60em;
$tachyons-breakpoint-xl: 90em;

$topNavbarHeight: 71px;
